body{
    background-color: var(--BaseSiteColor);
    background-size: auto;
    background-blend-mode: darken;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}


/* site colors */
:root {
    --BaseSiteColor: rgb(0, 55, 82);
    --LogoBaseOneColor: gray;
    --SectionHeadingColor: rgba(0, 88, 104, 0.95);
    --BlackBackgroundColor: black;
    --BlackTextColor: black;
    --SectionHeadingBorderColor: darkslateblue;
    --NavBackgroundColor: rgba(0, 88, 104, 0.95);
    --NavLinkBackgroundColor: darkcyan;
    --SkyBackgroundColor: skyblue;
    --MissionParagraphColor: rgb(76, 96, 226);
    --ServicesProductsCardBackgroundColor: #288e95;
    --ServicesProductsCardH3BackgroundColor: #525252;
    --TextColor: white;
    --TeamMemberCardBackgroundColor: #074d73;
    --TeamMemberCardBorderColor: white;
    --TeamMemberCardBoxShadowColor: rgba(0, 0, 0, 0.5);
    --GradientOuterBorderColor: rgba(0, 0, 0, 0.1);
    --GradientInnerBorderColor: rgb(63, 0, 63);
    --TransparentColor: transparent;
    --ShadowBoxGrayColor: #525252;
    
}


/* reusable classes */
.indent-text {
    text-indent: 1rem;
    padding: 0;
    margin: 0;
}

.heading {                      /* headings for each section */
    display: block;
    background-color: var(--SectionHeadingColor);
    color: var(--TextColor);
    text-shadow: 2px 2px 2px var(--ShadowBoxGrayColor);
    border-top: 1px solid var(--SectionHeadingBorderColor);
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    padding-left: 1rem;

}

.section-bg {
    background-color: var(--SectionHeadingColor);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROos7dPRXeumfFwWP3Q0ETOkQ-jvQZOG7AAQ&s");
    background-blend-mode: darken;
}

.border-top-outline {
    border: 1px solid var(--BlackBackgroundColor);
}



.border-bottom-leftright-outline {
    border-bottom: 1px solid var(--BlackBackgroundColor);
    border-left: 1px solid var(--BlackBackgroundColor);
    border-right: 1px solid var(--BlackBackgroundColor);
}


/* header */
.header {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: 0;
    background-color: var(--BlackBackgroundColor);
    background-image: url('https://cdn.pixabay.com/photo/2020/02/15/14/33/network-4851119_640.jpg');
    font-size: 2rem;
    color: var(--SkyBackgroundColor);
    text-shadow: 5px 5px 4px var(--ShadowBoxGrayColor);
}

.sitelogo {
    position: relative;
    margin: 0;
    padding: 0;
    
}

.sitelogo-bg {
    min-width: 10rem;
    width: auto;
    height: 4.6rem;

}

.sitelogo img {
    position: relative;
    height: 4rem;

}

.sitelogo .logobase {
    position: relative;
    transform: translate(calc(50% - 26%), 42%) scale(75%, 85%) rotateX(65deg);
    opacity: 0.5;
    background-color: var(--LogoBaseOneColor);
    border-radius: 50%;

}

.sitelogo .logo {
    position: relative;
    transform: translate(-90%, -0.2rem) scale(85%, 85%) rotate(180deg);
    border-radius: 50%;

}

.companyname {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.companyname h1 {
    font-family: "IBM Plex Sans";
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    
}

nav {
    display: flex;
    width: calc(100% - 1px);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--NavBackgroundColor);
    margin-bottom: 0.5rem;
    padding: 0.2rem 0;

}

nav a {
    display: flex;
    text-decoration: none;
    background-color: var(--NavLinkBackgroundColor);
    border-radius: 5px;
    color: var(--BlackTextColor);
    margin: 0 10px;
    padding: 0 2px;

}

nav a:hover {
    background-color: var(--SkyBackgroundColor);
    border-radius: 5px;
    color: var(--BlackTextColor);
    padding: 0 2px;

}


/* mission section */
#mission {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

#mission div {
    color: var(--TeamMemberCardBorderColor);
    border-radius: 0.1rem;

}

#mission p {
    padding: 1rem 1rem 0 1rem;
    text-indent: 1rem;
    font-family: "Fira Sans";

}

#mission p strong {
    color: var(--MissionParagraphColor);
    font-size-adjust: 0.55;

}

#mission ul {
    margin: 0 2rem 1rem 3rem;
    padding: 0 1rem;

}


/* services section */
#services, #products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

#services .card, #products .card {
    background-color: var(--ServicesProductsCardBackgroundColor);
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 250px;
    padding: 0.2rem;
    margin: 1%;
    border-radius: 2%;

}

#services .card img, #products .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;

}

#services .card h3, #products .card h3 {
    font-family: "Montserrat";
    font-size: 1rem;
    background-color: var(--ServicesProductsCardH3BackgroundColor);
    color: var(--TextColor);
    display: flex;
    height: 20%;
    align-items: center;
    padding: 0 0.4rem;
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

}


/* team section */
#team {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    color: var(--TextColor);
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;

}

#team p {
    margin: 0;
    padding: 1.5rem 6rem 2rem 6rem;

}


.team-members {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.team-members .team-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--TeamMemberCardBackgroundColor);
    border-radius: 0.2rem;
    border: 1px solid var(--TeamMemberCardBorderColor);
    box-shadow: 5px 5px 10px var(--TeamMemberCardBoxShadowColor);
    width: 300px;
    height: 400px;
    margin: 1rem;
    padding-top: 0.5rem;
    
}

.team-members .middle-card {
    margin: 0 1.5rem;
}

.team-members .team-card img {
    width: 92%;
    border: 1px solid var(--TeamMemberCardBorderColor);
    object-fit:fill;
    overflow: hidden;    
    margin: 0;

}

.team-members .team-card h3 {
    font-family: "Montserrat";
    width: 100%;
    border-top: 2px solid var(--TransparentColor);
    border-image: linear-gradient(to right, var(--GradientOuterBorderColor), var(--GradientInnerBorderColor), var(--GradientOuterBorderColor)) 1;
    border-bottom: 2px solid var(--TransparentColor);
    border-image-slice: 1;
    margin: 0;
    padding: 0;

}

.team-members .team-card h4 {
    font-family: "Inter";
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;

}


/* contact section */
#contact {
    font-family: "Roboto-Mono";
    font-size: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--TextColor);
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;  

}

#contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-extra {
    margin-top: 0.5rem;
}


/* footer */
.footer {
    text-align: center;
    color: var(--TextColor);

    margin: 1rem;
}


/* responsive design */

@media only screen and (max-width: 1024px) {
    .header .companyname {
        font-size: 1.5rem;

    }

    .sitelogo .logobase {
        transform: translate(20%, 42%) scale(65%, 75%) rotateX(65deg);
        
    }

    .companyname {
        margin: 2rem;

    }

    .companyname h1 {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-around;

        margin: 0;
        padding: 0 0.5rem;
    }
}


@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
    }

    .header {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;

    }

    .sitelogo {
        justify-content: flex-start;
    }

    .companyname {
        margin: 2rem 0;
    }

    .companyname h1 {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0;
        padding: 0 0.5rem;
        
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        
    }

    nav a {
        margin: 0.25rem;
        
    }

    #mission {
        padding: 1.2rem 0.8rem 1.2rem 0.8rem; 
    }

    #services, #products {
        padding: 1rem 0;
    }

    #team p {
        font-size: 1.2rem;
    }

    .team-members .team-card {
        margin: 0.75rem;
    }

    
}